<h1>Shopping Cart</h1>
{{#if cart.length}}
    <ul>
        {{#each cart}}
            <li>
                <h3>{{this.product.title}}</h3>
                <p>Quantity: {{this.quantity}}</p>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>Your cart is empty.</p>
{{/if}}
